@model HolaMundo.Models.Pelicula
@{
    ViewBag.Title = "FormularioRazor";
}

<h2>FormularioRazor</h2>

<h3>@ViewBag.Mensaje</h3>

@using (Html.BeginForm())
{
    //Tenemos dos opciones

    //Uno: es usar uno a uno los editores
    @*<div>
        @Html.LabelFor(Model => Model.Titulo)
        @Html.EditorFor(Model=>Model.Titulo)
    </div>
    <div>
        @Html.LabelFor(Model => Model.Publicacion)
        @Html.EditorFor(Model => Model.Publicacion)
    </div>*@

    //Dos: es usar el editorformodel para que nos abastraiga nuestros editores
    @Html.EditorForModel();

    <input type="submit" value="Enviar" />
}

