@model List<HolaMundo.Models.Pelicula>

    @{
        ViewBag.Title = "Peliculas";
    }

    <h2>@ViewBag.Titulo</h2>

    @*Titulo = "Mi primer Libro1",
    Duracion = 2,
    Pais = "USA",
    Publicacion = DateTime.Now,
    EstaEnCartelera = true*@

<h4>Mostrando @Model.Count Peliculas</h4>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Titulo</th>
                <th>Duracion</th>
                <th>Pais</th>
                <th>Publicacion</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var pelicula in Model)
            {
                //var stringClass = string.Empty;
                //if (!pelicula.EstaEnCartelera)
                //{
                //    stringClass = "danger";
                //}

                var strClass = !pelicula.EstaEnCartelera ? "danger" : string.Empty;

                <tr class="@strClass">
                    <td>@Html.Raw(pelicula.Titulo)</td>
                    <td>@pelicula.Duracion</td>
                    <td>@pelicula.Pais</td>
                    <td>@pelicula.Publicacion</td>
                </tr>
            }
        </tbody>

    </table>


