@*@model HolaMundo.Models.Pelicula*@

@{
    ViewBag.Title = "UsandoVistasParciales";
    var peliculas = (List<HolaMundo.Models.Pelicula>)ViewBag.MiListado;
}

<h2>UsandoVistasParciales</h2>

@Html.Partial("_ListadoPeliculas", peliculas)

@*<h3>Esta es la vista principal</h3>

<h4>Mostrando @personas.Count Peliculas</h4>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Titulo</th>
            <th>Duracion</th>
            <th>Pais</th>
            <th>Publicacion</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var pelicula in personas)
        {
            //var stringClass = string.Empty;
            //if (!pelicula.EstaEnCartelera)
            //{
            //    stringClass = "danger";
            //}

            var strClass = !pelicula.EstaEnCartelera ? "danger" : string.Empty;

            <tr class="@strClass">
                <td>@Html.Raw(pelicula.Titulo)</td>
                <td>@pelicula.Duracion</td>
                <td>@pelicula.Pais</td>
                <td>@pelicula.Publicacion</td>
            </tr>
        }
    </tbody>

</table>*@
